:host {
  display: block;
  height: 100%;
}

main {
  padding-top: 0;
  display: block;
}

/* smoother */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.25s;
}

/* global body lock for mobile drawer */
.no-scroll {
  overflow: hidden !important;
}
