:host {
  display: block;
  height: 100%;
}

main {
  /* ჰედერის სიმაღლის გათვალისწინებით, რომ კონტენტი არ დაიმალოს */
  padding-top: 0; 
  display: block;
}

/* გლუვი გადასვლის ანიმაცია გვერდებისთვის */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}